Source: ros-kinetic-dynamixel-workbench-controllers
Section: misc
Priority: extra
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-dynamixel-sdk, ros-kinetic-dynamixel-workbench-msgs, ros-kinetic-dynamixel-workbench-toolbox, ros-kinetic-roscpp
Homepage: http://wiki.ros.org/dynamixel_workbench
Standards-Version: 3.9.2

Package: ros-kinetic-dynamixel-workbench-controllers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-dynamixel-sdk, ros-kinetic-dynamixel-workbench-msgs, ros-kinetic-dynamixel-workbench-toolbox, ros-kinetic-roscpp
Description: This package contains examples of applying the 'dynamixel_workbench_toolbox' library developed on the basis of dynamixel_sdk to various operating modes of Dynamixel.
