Source: ros-kinetic-dynamixel-workbench-single-manager
Section: misc
Priority: extra
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-dynamixel-workbench-msgs, ros-kinetic-dynamixel-workbench-toolbox, ros-kinetic-roscpp
Homepage: http://wiki.ros.org/dynamixel_workbench_single_manager
Standards-Version: 3.9.2

Package: ros-kinetic-dynamixel-workbench-single-manager
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-dynamixel-workbench-msgs, ros-kinetic-dynamixel-workbench-toolbox, ros-kinetic-roscpp
Description: This package is single manager for a Dynamixel.
 It provides a terminal environment to check the status of Dynamixel and control it before using Dynamixel
